/*General styles -- Start*/
body {
  font-family: "Roboto Slab", serif; }

.italic {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  letter-spacing: 1px; }

h1, h3, h5, .btn-my-styling {
  font-family: "montserratbold"; }

@media (max-width: 460px) {
  h3 {
    font-size: 1em; }
  h1 {
    font-size: 1.5em; } }

.btn-my-styling {
  width: 180px;
  padding: 15px 0px;
  background-color: #0ed8d6;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 0; }

.btn-my-styling:hover {
  background-color: #fff;
  color: #0ed8d6; }

.social-media i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #222222;
  color: #fff;
  margin: 5px; }
  .social-media i:hover {
    background-color: #0ed8d6; }

/*General styles -- Stop*/
/*Navigation -- Start*/
#main-nav {
  background-color: rgba(255, 255, 255, 0);
  border: 0px; }
  #main-nav a.navbar-brand {
    color: #fff;
    cursor: default; }
  #main-nav ul li {
    font-family: "montserratregular"; }
    #main-nav ul li a {
      color: #fff; }
      #main-nav ul li a:hover {
        color: #0ed8d6; }

#main-nav.nav-scroll {
  background-color: #f7f7f7;
  border: 0px; }
  #main-nav.nav-scroll a.navbar-brand {
    color: #777; }
  #main-nav.nav-scroll ul li a {
    color: #777; }
    #main-nav.nav-scroll ul li a:hover {
      color: #0ed8d6; }

@media (max-width: 768px) {
  #main-nav {
    background-color: white;
    border: 0px; }
  #main-nav a.navbar-brand {
    color: #777; }
  #main-nav ul li a {
    color: #777; } }

/*Navigation -- Stop*/
/*Header -- Start*/
#header {
  background-image: url("../img/header/pictures_on_the_wall-small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: #222222;
  height: 100vh;
  position: relative;
  color: #fff; }
  #header .row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto; }
    #header .row a {
      margin-top: 30px; }

/*Header -- Stop*/
/*Section general - Start*/
#services, #portfolio, #team, #contact {
  padding: 100px 0px; }

section .row:first-child {
  margin-bottom: 50px; }

#services h3, #portfolio h3, #team h3, #contact h3 {
  margin-bottom: 25px; }

#services .col-md-4 h5, #portfolio .col-md-4 h5, #team .col-md-4 h5, #contact .col-md-4 h5 {
  margin-top: 25px; }

/*Section general - Stop*/
/*Services - Start*/
#services {
  padding-bottom: 65px; }
  #services .col-md-4 h5 {
    margin-bottom: 20px; }
  #services .col-md-4 p {
    margin-bottom: 50px; }
  #services .col-md-4 .services-icons {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 250%;
    border: 1px solid #0ed8d6;
    border-radius: 50%;
    background-color: #0ed8d6;
    color: #fff; }
    #services .col-md-4 .services-icons:hover {
      background-color: #fff;
      color: #0ed8d6; }

/*Services - Stop*/
/*Portfolio - Start*/
#portfolio {
  background-color: #f7f7f7; }
  #portfolio .row:first-child {
    margin-bottom: 35px; }
    #portfolio .row:first-child h5 {
      margin: 25px 0px; }
  #portfolio .col-md-4, #portfolio .col-sm-6 {
    padding: 15px; }
    #portfolio .col-md-4 .portfolio-image-container, #portfolio .col-sm-6 .portfolio-image-container {
      height: 300px;
      max-width: 360px;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden; }
      #portfolio .col-md-4 .portfolio-image-container .portfolio-image, #portfolio .col-sm-6 .portfolio-image-container .portfolio-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100%; }
        #portfolio .col-md-4 .portfolio-image-container .portfolio-image .portfolio-mask, #portfolio .col-sm-6 .portfolio-image-container .portfolio-image .portfolio-mask {
          height: 100%;
          background-color: rgba(14, 216, 214, 0.5);
          opacity: 0;
          height: 100%;
          position: relative; }
          #portfolio .col-md-4 .portfolio-image-container .portfolio-image .portfolio-mask:hover, #portfolio .col-sm-6 .portfolio-image-container .portfolio-image .portfolio-mask:hover {
            opacity: 1; }
          #portfolio .col-md-4 .portfolio-image-container .portfolio-image .portfolio-mask i, #portfolio .col-sm-6 .portfolio-image-container .portfolio-image .portfolio-mask i {
            width: 100%;
            color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto; }
      #portfolio .col-md-4 .portfolio-image-container:hover .portfolio-image, #portfolio .col-sm-6 .portfolio-image-container:hover .portfolio-image {
        transform: scale(1.2, 1.2);
        transition: 2s; }
    #portfolio .col-md-4 .portfolio-image-descr, #portfolio .col-sm-6 .portfolio-image-descr {
      background-color: #fff;
      padding: 15px 0px;
      max-width: 360px;
      left: 0;
      right: 0;
      margin: auto; }
      #portfolio .col-md-4 .portfolio-image-descr h5, #portfolio .col-sm-6 .portfolio-image-descr h5 {
        margin: 15px 0px 10px; }

#portfolio-image-1 {
  background-image: url(../img/portfolio/chestnut_on_bracket-small.jpg); }

#portfolio-image-2 {
  background-image: url(../img/portfolio/typing_on_laptop-small.jpg); }

#portfolio-image-3 {
  background-image: url(../img/portfolio/child_with_blue_paint-small.jpg); }

#portfolio-image-4 {
  background-image: url(../img/portfolio/chaotic_paint-small.jpg); }

#portfolio-image-5 {
  background-image: url(../img/portfolio/house_with_blue_doors-small.jpg); }

#portfolio-image-6 {
  background-image: url(../img/portfolio/box_of_cookies-small.jpg); }

/*Portfolio - Stop*/
/*Team - Start*/
#team .col-md-4 {
  margin: 20px 0px 50px; }
  #team .col-md-4 .round-shape {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px; }

#team-image-1 {
  background-image: url(../img/team/man-1-small.jpg); }

#team-image-2 {
  background-image: url(../img/team/man-2-small.jpg); }

#team-image-3 {
  background-image: url(../img/team/woman-1-small.jpg); }

/*Team - Stop*/
/*Contact - Start*/
#contact {
  background-image: url(../img/footer/world-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: #222222; }
  #contact h3, #contact h5 {
    color: #fff; }
  #contact input, #contact textarea {
    margin: 15px 0px;
    border: none; }
  #contact input[type="text"], #contact textarea {
    width: 100%;
    padding: 14px 0px;
    text-transform: uppercase;
    text-indent: 15px;
    font-size: 0.9em;
    font-family: "montserratregular"; }
    #contact input[type="text"]:focus, #contact textarea:focus {
      border: inherit;
      background-color: #f7f7f7; }
  #contact textarea {
    height: 198px; }

/*Contact - Stop*/
/*Footer - Start*/
#footer {
  padding: 15px 0px; }
  #footer .footer-text {
    font-size: 0.8em;
    padding: 10px 0px; }

@media (max-width: 768px) {
  #footer .footer-text {
    text-align: center; } }

/*Footer - Stop*/
